{% extends 'Food/base.html' %}
{% load static %}

{% block body %}

<body class="bg-white">

<div class="container-fluid mt-5">
  <!-- <div class="card bg-light shadow-sm mx-auto" style="max-width: 700px;"> -->
    <!-- <div class="card-body"> -->
      <h4 class="mb-4">Register New User</h4>
      <form method="POST" novalidate>
        {% csrf_token %}

        {% for field in form %}
          <div class="row mb-3">
            <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">
              {{ field.label }}{% if field.field.required %}<span class="text-danger"> *</span>{% endif %}:
            </label>
            <div class="col-sm-2">
              {{ field }}
              {% if field.errors %}
                <div class="text-danger small">
                  {{ field.errors|striptags }}
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}

        <div class="mt-4">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-danger">Clear</button>
        </div>
      </form>
    <!-- </div> -->
  <!-- </div> -->
</div>

</body>

{% endblock %}
